@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Quicksand:wght@600&family=Syncopate:wght@400;700&display=swap');

:root {
    --primary-color: #AAA0A0;
    --secondary-color: #474853;
    --action-color: #7AB0B0;
    --header-color: #C7C3C3;
    --btn-color: #A38471;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
}

/*----Mobile first----*/

html {
    font-size: 12px; /*1rem=12px*/
}

h1, h2, h3, h4, h5 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 1.3rem;  
    line-height: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 1.1rem;
    line-height: 2.5rem;
    text-align: center;
    color: var(--header-color);
}

h3 {
    font-size: 0.9rem;
    color: var(--action-color);
}

h4 {
    font-size: 0.9rem;
    line-height: 2.5rem;
    color: var(--primary-color);
}

h5 {
    font-size: 0.6rem;
    font-weight: 400;
    color: var(--header-color);
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: justify;
    color: var(--primary-color);
}

blockquote {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    line-height: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
    padding: 2rem;
}

.wrapper {
    max-width: 64rem;
    min-height: 100%;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "hero"
    "main"
    "footer";
    padding-bottom: 2rem;
    margin: 0 auto;
}

/*----COMPONENTS----*/

/*----hero----*/

.hero {
    min-height: 30vh;
    grid-area: hero;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.hero--home {
    background-image: url("../images/home.png");
}

.hero--facilities {
    background-image: url("../images/facilities.jpeg");
}

.hero--booking {
    background-image: url("../images/booking.png");
}

/*----logo----*/
.hero__logo-container {
    align-self: flex-end;
    position: absolute;
    top: 0;
}

.hero__logo-container__logo {
    width: 100px;
    height: 80px;
}

/*----hero nav-bar----*/
.hero__nav-bar {
    color: var(--primary-color);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
}

.hero__nav-bar__toggle {
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 2;
    cursor: pointer;
}

.hero__nav-bar__checkbox, .hero__nav-bar__menu-list li {
    display: none;
}

.hero__nav-bar__menu-list {
    background-color: var(--header-color); /*BYT!!*/
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero__nav-bar__menu-list a {
    font-family: 'Syncopate', sans-serif; /*Kan man flytta ut?? samma som i footer?*/
    font-weight: 700; /*Kan man flytta ut??*/
    color: inherit;
    text-decoration: none;
}

#hero__nav-bar__checkbox:checked ~ .hero__nav-bar__menu-list{
    position: absolute;
    padding: 3rem;
    z-index: 1;
}

#hero__nav-bar__checkbox:checked ~ ul.hero__nav-bar__menu-list li {
    display: block;
}

.heading {
    margin-bottom: 2.5rem;
}

.heading--home {
    color: var(--action-color);
}

.heading--facilities, .heading--booking {
    color: var(--header-color);
}

/*----main----*/
.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

/*----footer----*/
.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.footer__rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    border-top: 1px solid var(--primary-color);
    padding-top: 2.5rem;
}

.footer__nav {
    display: none;
}

.footer__nav__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 2rem 0;
}

.footer__nav__list a {
    font-family: 'Syncopate';
    font-size: 9px;
    font-weight: 400;
    line-height: 15px;
    text-decoration: none;
    color: var(--header-color);
}

/*----cards----*/
.card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.card--large {
    width: 100%;
    min-height: 20vh;
}

.card--medium {
    width: 300px;
    min-height: 15vh;
}

.card--small {
    min-width: 200px; /*sätta andra värden?*/
    min-height: 100px;
}

.card--large--space-resort {
    background-image: url("../images/space-resort.jpeg");
}

.card--large--facilities {
    background-image: url("../images/facilities.jpeg");
}

.card--large--raft, .card--medium--raft, .card--small--raft {
    background-image: url("../images/the-raft.jpg");
}

.card--medium--bar {
    background-image: url("../images/restaurant.jpeg"); /*byt till bar*/
}

.card--medium--theater {
    background-image: url("../images/theater.jpeg");
}

.card--medium--health {
    background-image: url("../images/spa.webp");
}

.card--medium--boutiques {
    background-image: url("../images/boutique.jpeg");
}

.card--medium--lodge {
    background-image: url("../images/the-lodge.jpeg");
}

.card--medium--restaurant, .card--small--restaurant {
    background-image: url("../images/restaurant.jpeg"); 
}

.card--medium--spa, .card--small--spa {
    background-image: url("../images/spa.webp"); 
}

/*----buttons----*/
.btn {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--btn-color);
    border: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    padding: 0.3rem 0.9rem;
    font-family: 'Syncopate', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--secondary-color);
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.btn--action {
    background-color: var(--action-color);
}

.btn a {
    text-decoration: none;
    color: inherit;
}


/*----HOME----*/

/*----about----*/
.about {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.8px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0.5rem;
}

.read-more {
    align-self: flex-end;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.read-more a {
    color: inherit;
    text-decoration: none;
}

/*----carousel----*/
.carousel {
    width: 100%;
    display: none;
    border-bottom: 1px solid var(--primary-color); 
    border-top: 1px solid var(--primary-color);
    padding: 2rem;
}

.carousel__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*----FACILITIES----*/

/*----facilities-secion----*/
.facilities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    gap: 2rem;
    border-bottom: 1px solid var(--primary-color);
}

.facilities__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.facilities__desc button {
    align-self: flex-end;
    margin-top: 2rem;
}

/*----rooms-section----*/
.rooms-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
}

/*----BOOKING----*/

/*----form-section----*/
.booking-form {
    display: flex;
    flex-wrap: wrap;   
    gap: 1rem;
    padding: 2rem;
}

.booking-form__fields {
    display: flex;
    flex-direction: column;
}

.booking-form label {
    font-family: 'Syncopate', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-color);
    padding-left: 0.5rem;
    margin-bottom: 0.5rem; 
}

.booking-form input {
    width: 300px;
    height: 30px; 
    background-color: #A38471;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    padding: 1rem;
    font-family: 'Syncopate', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: var(--secondary-color);
}

.btn--search {
    width: 250px;
    height: 30px;
    font-size: 12px;
    align-self: flex-end;
    margin-top: 1rem;
}

.btn--search i {
    margin-right: 1rem;
}

/*----recommended-section----*/
.header-line {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid var(--primary-color); 
    line-height: 0.08rem;
    margin: 30px 0 30px; 
}

.header-line span {
    background-color: #474853;
    padding:15px; 
}

.recommended__rooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    gap: 2rem;
}

.recommended:nth-child(2){
    border-bottom: 1px solid var(--primary-color); /*Tar fel??*/
}

.recommended__rooms figure {
    order: 2; /*FUNKAR INTE??*/
}

.recommended__rooms__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.recommended__rooms__desc .read-more {
    margin-top: 2rem;
    color: var(--primary-color);
    font-weight: 600;
}

.recommended__rooms__desc button {
    align-self: flex-end;
}

/*----DESKTOP STYLING----*/
@media screen and (min-width: 880px) {
    html {
        font-size: 16px;
    }
    
    /*----HERO----*/
    .hero {
        justify-content: flex-start;
        padding: 0;
    }

    .hero__logo-container {
        width: 100%;
        background-color: rgba(71, 72, 83, 0.3);
        text-align: center;
        position: unset; 
    }

    .hero__logo-container__logo {
        width: 157px;
        height: 80px; 
    }
    
    .hero__nav-bar {
        width: 100%;
        position: unset;
        background: rgba(71, 72, 83, 0.3);
    }

    .hero__nav-bar__toggle {
        display: none;
    }

    .hero__nav-bar__menu-list {
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
        padding-inline-start: 0;     
        padding: 0 1rem;  
    }

    .hero__nav-bar__menu-list li {
        display: block;
        font-size: 1rem;
    }

    .heading {
        margin: auto 0 2rem 0;
    }

    /*----MAIN----*/
    .main {
        padding: 1rem 3.5rem 0 3.5rem;
    }

    /*----FOOTER----*/
    .footer__nav {
        display: block;
    }

    /*----CARDS----*/
    .card--large {
        min-height: 30vh;
    }

    .card--medium {
        min-height: 15vh;
        min-width: 45%;
    }

    /*----HOME----*/
    .carousel {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.8rem;
    }

    /*----FACILITIES----*/

    .facilities {
        flex-direction: row;
        gap: 6rem;
    }

    .facilities__desc .card--medium--bar { /*varför funkar det inte?*/
        order: 2;
    }

    /*----BOOKING----*/
    .recommended__rooms figure {
        order: 1; /*funkar inte??*/
    }

    .recommended__rooms {
        flex-direction: row;
    }

    .recommended__rooms__desc .read-more {
        border-bottom: 1px solid var(--primary-color);
        margin-bottom: 2rem;
        padding-bottom: 0.5rem;
    }
}